@include media-lg {
	.showcase {
		height: 425px;
		
		&__form {
			width: auto;
			height: auto;
			padding: 2rem;
			
			.form-control {
				margin: 1rem 0;
			}
		}
	}
}

@include media-md {	
	.showcase {
		height: auto;
		padding-top: 2rem;
		
		.grid {
			grid-template-columns: 1fr;
			gap: 0;
		}
		
		&__form {
			top: 1.5rem;
			left: 0;
			height: 100%;
		    width: 350px;
			padding: 1.5rem;
			justify-self: center;
			
			.form-control {
				margin: 1rem 0;
			}
		}
		
		.card {
			margin: 0;
		}
	}
	
	.stats {
	    
		
		.grid-3 {
			grid-template-columns: 1fr;
		}
	}
	
	.cli {
		.grid {
			grid-template-columns: 1fr;
			gap: 0;
			
			img {
				grid-column:auto;
				grid-row: auto;
			}
		}
	}
	
	.cloud {
		.grid {
			grid-template-columns: 1fr;
			
			.text-center {
				.lg {
					font-size: 2.3rem;
				}
				
				
			}
			
			img {
				display: none;
			}
		}
	}
	
	.footer {
		.grid-3 {
			grid-template-columns: repeat(2,1fr);		
		}
		
		.social-links{
			grid-column: 1/3;
			justify-self: center;
		}
	}
	
	.features-head {
		.grid {
			grid-template-columns: 2fr 1fr;
		}
		img {
			width: 150px;
		}
	 }
	
	.features-sub-head {
		.grid {
			grid-template-columns: 1fr;
		}
		img {
			width: 300px;
			justify-self: center;
		}
	}
	
	.features-main {
		.grid-3 {
			grid-template-columns: 1fr;
		}
		
		.card:nth-child(1),.card:nth-child(2) {
			grid-column: unset;
		}
	}
	
	.docs-head {
		.grid{
			grid-template-columns: 1fr;
		}
		img {
			justify-self: center;
		}
	}
	
	.docs-main {
		.grid{
			grid-template-columns: 1fr;
		}
	}
}

@include media-sm {
	.navbar {
		.flex {
			flex-direction: column;
		}
		nav {
			ul{
				padding: .8rem;
			}
		}
	}
}
